---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Si toi aussi tu te grattes !!!

    <form action="https://formspree.io/mottet.julien123@gmail.com" method="POST">
      <input type="email" name="name" value="ton@email.com">
      <input type="submit" value="Send">
    </form>
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
